body {
    background-color: #99ff99;
  }
  h1 {
    font-size: 70px;
  }
  .container {
    padding: 0 10px;
    display: flex;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  
  .box1 {
    background: transparent;
    height: 480px;
    padding: 20px;
  }
  .box2 {
    background-color: #bbffbb;
    width: 694px;
    margin-left: 20px;
    padding: 90px;
    height: 245px;
  }

  .responsive-button {
    font-size: 30px;
    font-weight: 400;
    border-radius: 1.4rem;
    border: 4px solid #514f4f5e;
    height: 83px;
    color: #237123;
    margin-top: 30px;
    width: 100%;
  }
  .responsive-button:hover {
    font-weight: 700;
    border: 5px solid green;
  }

  .responsive-button {
    font-size: 30px;
    font-weight: 400;
    border-radius: 1.4rem;
    border: 4px solid #514f4f5e;
    height: 83px;
    color: #237123;
    margin-top: 30px;
    width: 100%;
  }
  .responsive-button:hover {
    font-weight: 700;
    border: 5px solid green;
  }
  .parent {
    display: flex;
    justify-content: space-between;
  }

  .child {
    flex-direction: row;
  }
  .final-btns {
    width: 53px;
    height: 30px;
  }